<div class="w-full text-gray-700 shadow-md mb-4">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="p-4 flex flex-row items-center justify-between">
      <a href="#" class="text-lg py-1 px-5 bg-blue-600 font-semibold tracking-widest text-white uppercase rounded-lg">CRM</a>
    </div>
  </div>
</div>